*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: grid;
    width: 40rem;
    height: 40rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
}

.gameboard > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 2px solid black;
}